
# Package Files #
# *.jar
*.war
*.ear
rebel.xml
bin/
target/
jetty.log
workspace/
profile.tmp

.idea/
es.core.elexis.common/
**/org.eclipse.jdt.core.prefs
.settings/
**/.settings/
**/target/
**/*.iml

**/.DS_Store
