*.class

# Package Files #
# *.jar
*.war
*.ear
rebel.xml
bin/
target/
jetty.log
workspace/
profile.tmp

.idea/
ch.elexis.core.ui.importer.div/.settings/
es.core.elexis.common/
**/org.eclipse.jdt.core.prefs