<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Elexis3</string>
	<key>CFBundleGetInfoString</key>
	<string>Elexis 3.ungrad, (c) 2016 by G. Weirich and Elexis.ch</string>
	<key>CFBundleIconFile</key>
	<string>Elexis3.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ch.elexis.core.application.product.Elexis</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Elexis</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.2.0.v20160528-1724</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>de_DE</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>fr</string>
	</array>
</dict>
</plist>
